# ignore everything
**

# unignored directories
!/bin/
!/res/
!/src/
!/views/

# unignored files
!/composer.json
!/composer.lock
!/LICENSE
!/php-cli.ini

!/.docker/cli/satisUpdater.sh
!/.docker/cli/supervisor/supervisord.ini
!/satis.json