# ignore everything
**

# unignored directories
!/bin/
!/res/
!/src/
!/views/

# unignored files
!/composer.json
!/composer.lock
!/LICENSE
!/php-cli.ini

!/.docker/fpm/var/spool/cron/crontabs/www-data
!/satis.json